* {
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    overscroll-behavior: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav-bar {
    width: 100%;
    display: block;
    height: 76px;
    position:fixed;
    background: rgba(19, 29, 50, 0.75); 
    backdrop-filter: blur(12px);
     -webkit-backdrop-filter: blur(12px);
}

.nav-pad {
    margin: 0rem 7.5rem;
    padding: 1rem 1.5rem;
}

.flex-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 44px;
}

.nav-btns button,.name {
    all: unset;
}
.name {
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(to right, oklch(70.7% 0.165 254.624), oklch(71.4% 0.203 305.504));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

.nav-btns {
    width: 367.46px;
    height: 24px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.nav-btn:hover {
    color: #6badff;
}

.nav-btn:focus {
    background: linear-gradient(to right, oklch(70.7% 0.165 254.624), oklch(71.4% 0.203 305.504));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;

    display:inline-block;
    padding-bottom:25px;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(to right, oklch(70.7% 0.165 254.624), oklch(71.4% 0.203 305.504)) 1;
}

.rightend-btns{
    width:177px;
    height:44px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#resume-btn{
    width:121px;
    height: 44px;
    background:linear-gradient(to right,oklch(67.055% 0.17809 254.212), oklch(62.126% 0.25515 304.102));
    border:none;
    cursor:pointer;
    border-radius:10px;
    font-size:1rem;
    color:white;
    font-weight: 600;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 20px;
    cursor:pointer;
}
#resume-btn:hover{
    background:linear-gradient(to right,oklch(62.172% 0.20144 256.227), oklch(58.013% 0.27863 301.585));
}

#switch-btn{
    width:40px;
    height:40px;
    cursor:pointer;
    border:none;
    border-radius:50%;
    background-color: #94949450;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}
#switch-btn svg{
    color:oklch(90.5% 0.182 98.111);
    width:20px;
    height:20px;
}
#switch-btn:hover{
    background-color: #d0cfcf50;
}


#home{
    height:100vh;
    width:100%;
    padding:80px 24px;
    background-color: #1A233A;
    color:white;
}
.content{
    width:72rem;
    height:33rem;
    margin-right:auto;
    margin-left:auto;
    display:grid;
    grid-template-columns:repeat(2,1fr) ;
    gap:3rem;
}
@media(max-width:768px){
    .content{
        grid-template-columns: 1fr;
    }
}
#welcome{
    color:oklch(70.7% 0.165 254.624);
    margin:0 0 16px;
}
.star{
    width:20px;
    height: 20px;
    margin-right:6px;
    vertical-align:middle;
    transform: translateY(-2px);
}
#welcome span{
    font-size:16px;
    font-weight: 600;
}

#intro1{
    height:144px;
    margin:0 0 24px;
}
#text{
    line-height:1.05;
    font-size:72px;
    font-weight: 500;
}
#text span{
    background: linear-gradient(to right, oklch(70.7% 0.165 254.624), oklch(71.4% 0.203 305.504));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

#intro2{
    margin:0 0 24px;
}

#full-stack{
    font-size: 30px;
    font-weight: 400;
    margin:0 0 8px;
}

#full-stack svg{
    height:24px;
    width:24px;
    margin-right:10px;
    vertical-align:middle;
    transform: translateY(-2px);
    color:oklch(70.7% 0.165 254.624);
}
#ai{
    font-size: 30px;
    font-weight: 400;
}
#ai svg{
    height:24px;
    width:24px;
    margin-right:10px;
    vertical-align:middle;
    transform: translateY(-2px);
    color:oklch(71.4% 0.203 305.504);
}

#intro3{
    margin-bottom: 32px;
    
}
#intro3 p{
    font-size: 20px;
    text-align: justify;
    color:oklch(70.4% 0.04 256.788);
}

#intro-btns{
    margin-bottom: 32px;
    height: 59.2px;
    display:flex;
}

#intro-btns button:hover{
    transform: scale(1.05);
}

.touch-btn{
    padding:16px 32px;
    border-radius: 10px;
    border:none;
    font-size:16px;
    background:linear-gradient(to right, oklch(63.753% 0.19737 255.57), oklch(57.435% 0.28012 301.34));
    color:white;
    font-weight: 500;
    margin-right:15px;
    transition: transform 0.2s ease;
    cursor:pointer;
}
.touch-btn:hover{
    transform: scale(1.05);
    background:linear-gradient(to right, oklch(60.096% 0.21874 257.76), oklch(54.449% 0.29249 297.386));
}
.view-btn{
    padding:16px 32px;
    border-radius: 10px;                    
    border:none;
    border:1.6px solid oklch(0.446 0.043 257.281);
    font-size:16px;
    background:#1A233A;
    color:white;
    font-weight: 500;
    transition: transform 0.2s ease;
    cursor:pointer;
}
.view-btn:hover{
    transform:scale(1.05);
    border:1.6px solid #6badff;
}

#connect{
    height:48px;
    display:flex;
}
#connect a{
    width:48px;
    height:48px;
    background:#1A233A;
    border-radius:10px;
    box-shadow:0 0 3px rgb(20, 20, 20);
    margin-right:15px;
    padding:14px;
    transition: transform 0.2s ease;
}
#connect svg{
    width:20px;
    height:20px;
    color:white;
}

#connect a:hover{
    transform:scale(1.05);
    background:#1d83ff;
}