*{
    margin:0px;
    box-sizing:border-box;
}

.nav-bar{
    width:100%;
    display:block;
    height:76px;
    background-color:#0f172b;
}

.nav-pad{
    margin:0rem 7.5rem;
    padding:1rem 1.5rem;
}

.flex-items{
    display:flex;
    justify-content:space-around;
    align-items:center;
    height: 44px;
}

